{% extends './activity.html' %} {% comment %} Dashboard Screen {% endcomment %}
{% block activity_screen %}
<!-- ======= Main ======= -->
<main id="main" class="main pt-0 mt-4">
	<div class="pagetitle">
		<h1>Lecturers Tables</h1>
		<nav>
			<ol class="breadcrumb">
				<li class="breadcrumb-item">
					<a href="{% url 'dashboard' %}">Home</a>
				</li>
				<li class="breadcrumb-item">Tables</li>
				<li class="breadcrumb-item active">Lecturers</li>
			</ol>
		</nav>

		<form
			action="{% url 'upload_lecturers' %}"
			method="POST"
			enctype="multipart/form-data">
			{% csrf_token %}
			<!-- <div class="text-warning mb-1">
				NB: The accepted format is "CSV" file type
			</div> -->
			<div class="input-group col-md-3">
				<label for="lecturers" class="input-group-text"
					>Upload Lecturers</label
				>
				<input
					type="file"
					class="form-control"
					name="lecturers"
					id="lecturers"
					aria-describedby="inputGroupFileAddon04"
					accept=".csv" />
				<button
					class="btn btn-outline-success"
					type="submit"
					id="inputGroupFileAddon04">
					Upload
				</button>
			</div>
		</form>
	</div>
	<!-- End Page Title -->

	<section class="section">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">Academic Lecturers</h5>
						<!-- Table with stripped rows -->
						<table class="table datatable">
							<thead>
								<tr>
									<th scope="col">Lecturer Code</th>
									<th scope="col">Lecturer Name</th>
									<th scope="col">Lecturer Status</th>
									<th scope="col">Examination Type</th>
									<th scope="col">Invigilator Type</th>
									<th scope="col"></th>
								</tr>
							</thead>
							<tbody>
								{% for data in lecturer_data %}
								<tr>
									<th scope="row">
										{{ data.lecturer_code }}
									</th>
									<td>{{ data.lecturer_name }}</td>
									<td>{{ data.lecturer_level }}</td>
									<td>{{ data.exam_type }}</td>
									<td>{{ data.invigilation_type }}</td>
									<td></td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
						<!-- End Table with stripped rows -->
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<!-- End #main -->
{% endblock activity_screen %}
