@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");

body {
    font-family: "Roboto Slab", sans-serif;
}

:root {
    --offcanvas-width: 230px;
    --topNavbarHeight: 75px;
}

.sidebar-nav {
    width: var(--offcanvas-width);
}

@media (min-width: 992px) {
    body {
        overflow: auto !important;
    }
    .offcanvas-backdrop::before {
        display: none;
    }
    .sidebar-nav {
        transform: none;
        visibility: visible !important;
        top: var(--topNavbarHeight);
        height: calc(100% - var(--topNavbarHeight));
    }
}

.navside-footer-text {
    margin-top: 200px;
    color: grey;
    font-size: x-small;
}
